
h1 {
    color: red;
    text-align: center;
    font-family: verdana;
   font-size: 60px;

}
p {
  text-align: center;
}
.jumbotron{
  background-image: url("../img/dice.jpeg")
}
.header{
  color: red;
}
